.container {
  margin: 5rem auto;
  ul {
    li {
      list-style: none;
      margin: 4rem 0;
      h2 {
        font-size: 28px;
        margin-bottom: 0.5rem;
      }
      > p {
        color: var(--gray-100);
        font-size: 1.125rem;
      }
      > div {
        margin-top: 1.5rem;
      }
      div {
        display: flex;
        color: var(--gray-200);
        align-items: center;
        span {
          font-size: 0.875rem;
          display: flex;
          align-items: center;
          svg {
            margin-right: 0.5rem;
          }
        }
        span + span {
          margin-left: 1.5rem;
        }
      }
    }
    li + li {
      margin-top: 3rem;
    }
  }
  button {
    background: none;
    color: var(--pink-500);
    font-size: 1.125rem;
    font-weight: bold;
    border: none;
  }
}

